[
 {erocci_core,
  [
   {listeners, 
	[
	 {http, occi_https, 
	  [{port, 8080}
	  ,{cacertfile, "apps/erocci/priv/ssl/cowboy-ca.crt"}
	  ,{certfile, "apps/erocci/priv/ssl/server.crt"}
	  ,{keyfile, "apps/erocci/priv/ssl/server.key"}]}
	]},

   {backends, 
    [
     {testpython, erocci_backend_dbus,
      [{service, "org.ow2.erocci.backend.SampleService"}, {opts, []}], <<"/">>}
    ]},
   
   {acl, 
    [{allow, '_', '_', '_'}]}
  ]}
].
